@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme{
    /* Add your custom theme here */
    --color-primary: #021024;
    --color-secondary: #07387E;
    --color-accent: #4C93F5;
    --color-background: #0C62D9;
}

@keyframes sink {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}

.arrow-down {
  animation: sink 1.5s infinite ease-in-out;
}

.fadeUp{
  animation: fadeUp both;
  animation-timeline: view(60% 20%);
}

timeline-item:nth-child(1){
  animation-range: entry 20% cover 40%;
}
timeline-item:nth-child(2){
  animation-range: entry 40% cover 60%;
}
timeline-item:nth-child(3){
  animation-range: entry 60% cover 80%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }
  to{
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
