---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 - Page Not Found">
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-4">🔥 404 - Page Not Found</h1>
        <p class="text-lg mb-8">The page you are looking for does not exist.</p>
        <a href="/" class="text-blue-500 hover:underline">Go back to Home</a>
        <svg width="100" height="100" fill="currentColor" >
            <use href="/assets/sprite.svg#strava"/>
        </svg>
    </div>
</Layout>