---
import Paragraph from "./Paragraph.astro";
import TitleHeader from "./TitleHeader.astro";
import SectionComponent from "./SectionComponent.astro";
---
<SectionComponent color="bg-gray-900">
 <div class="max-w-5xl mx-auto px-12 md:px-16">
  <TitleHeader titleH2="Sobre mí" icon="🧍🏽‍♂️"/>
    <Paragraph>
      Soy licenciado en informática con una fuerte orientación al desarrollo web
      moderno, con conocimientos sólidos en <span
        class="text-accent font-semibold">React</span
      > y otras tecnologías del ecosistema <span
        class="text-amber-300 font-semibold">JavaScript</span
      > como <span class="text-red-700 font-semibold">Angular</span> , <span
        class="text-green-400 font-semibold">Vue</span
      > y <span class="text-green-600">NodeJs</span>. Mi enfoque se centra en
      construir aplicaciones web eficientes, escalables y fáciles de mantener,
      cuidando tanto la funcionalidad como la experiencia del usuario.
    </Paragraph>
    <Paragraph>
      Durante mi formación y experiencia profesional he trabajado en diversos
      proyectos donde he creado interfaces dinámicas, rutas protegidas, lógica
      de negocio del lado del cliente y servidor, así como integración de
      servicios como envío de correos, validación de formularios y manejo seguro
      de datos. También tengo experiencia con bases de datos no relacionales
      como MongoDB, y herramientas como <span
        class="font-semibold text-amber-100">Git</span
      > y <span class="font-semibold text-amber-100">GitHub </span> para el control
      de versiones.

      <Paragraph>
        Además, tengo conocimientos en diseño <span class="font-semibold"
          >UX/UI</span
        > utilizando <span class="font-semibold">Figma</span>, lo que me permite
        colaborar de forma efectiva en la creación de interfaces amigables y
        visualmente coherentes. Complemento mi perfil técnico con habilidades
        blandas como el trabajo en equipo, la responsabilidad, la comunicación
        clara y el compromiso con la mejora continua. Me apasiona aprender,
        compartir conocimiento y mantenerme actualizado en un entorno
        tecnológico que evoluciona constantemente.
      </Paragraph>
    </Paragraph>
  </div>
</SectionComponent>

