<section class="w-full h-full bg-gray-900 text-white py-12 px-6 md:px-16">
  <div class="max-w-6xl mx-auto text-accent">
	<h2 class="text-3xl md:text-4xl font-bold mb-6">Sobre Mí</h2>
	<p class="text-lg md:text-xl mb-4 text-wrap text-gray-400">
	  Soy un desarrollador web con experiencia en la creación de aplicaciones modernas y eficientes. Me especializo en React y Node.js, y disfruto trabajando en proyectos desafiantes que me permiten aprender y crecer.
	</p>
	<p class="text-lg md:text-xl text-gray-400">
	  En mi tiempo libre, me gusta explorar nuevas tecnologías, contribuir a proyectos de código abierto y mejorar mis habilidades de programación.
	</p>
  </div>
  

</section>