---
const { href, style = 'text-gray-800 bg-gray-100 border-gray-300 hover:text-white hover:bg-gray-800 hover:border-gray-900 dark:text-white dark:bg-gray-800 dark:border-gray-600' } = Astro.props;

const target = href.startsWith('http') ? '_blank' : '_self';
---

<a
  target={target}
  href={href}
  role='link'
  class={`inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition border text-md group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black ${style}`}
>
  <slot />
</a>
