---
import SectionComponent from './SectionComponent.astro';
import TitleHeader from './TitleHeader.astro';
import DivSection from './DivSection.astro';
import GithubStats from './reactComponents/GithubStats';
---
<SectionComponent>
    <DivSection>
        <TitleHeader titleH2="Habilidades & Github Stats" icon="ðŸ› ï¸" />
        <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="w-full">
                <GithubStats client:visible />
            </div>
            <div class="w-sm p-4">
                
            </div>
        </article>
    </DivSection>
</SectionComponent>
