---
import SectionComponent from './SectionComponent.astro';
import TitleHeader from './TitleHeader.astro';
import DivSection from './DivSection.astro';
import GithubStats from './reactComponents/GithubStats';
---
<SectionComponent>
    <DivSection>
        <TitleHeader titleH2="Habilidades & Github Stats" icon="🛠️" />
        <article class="w-full">
            <div>
                <GithubStats client:visible />
                <p class="text-gray-600 dark:text-gray-400 mt-4">
                    Aqui estão algumas das minhas habilidades e estatísticas do GitHub. Você pode ver mais detalhes sobre meus projetos e contribuições no meu perfil do GitHub.
                </p>
            </div>
            <div>
            </div>
        </article>
    </DivSection>
</SectionComponent>
