---
import '../styles/global.css';
import Header from '../components/Header.astro';
import ClientRouter from 'astro/components/ClientRouter.astro';

const { title, description } = Astro.props;
const currentLocale = Astro.currentLocale || 'es';
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='description'
			content={description}>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
		<ClientRouter />
		<script src="/src/scripts/i18n-init.ts"></script>
	</head>
	<body >
		<Header/>
			<slot />
	</body>
</html>

<style>
	@reference "../styles/global.css";
	html,
	body {
		color: white
		margin: 0;
		width: 100%;
		height: 100%;
		@apply m-auto bg-[#0d1117];
		scroll-behavior: smooth;
	}
</style>
